{% load static %}


<li class="user">
    <input type="checkbox" name="user_ids" value="{{ user.id }}" id="user_{{ user.id }}" class="user-checkbox">
    <label for="user_{{ user.id }}" class="user-label">
        {% if user.employee.user_photo %}
        <img src="{{user.employee.user_photo.url}}" alt="{{ user.first_name }}">
        {% else %}
        <img src="{% static 'images/user.png' %}" alt="{{ user.first_name }}">
        {% endif %}
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    </label>
</li>
