<aside id="sidebar">
  <ul>
    <li>
      <a href="{% url 'all_users' %}?user_type=user">User</a>
      {% if request.GET.user_type == 'user' %}
        <ul>
          <li>
            <a href="{% url 'user_register' %}?user_type=user">Add</a>
          </li>
          <li>
            <a href="{% url 'all_users' %}?user_type=user&delete=delete">Delete</a>
          </li>
        </ul>
      {% endif %}
    </li>
    <li>
      <a href="{% url 'all_users' %}?user_type=checker">Checker</a>
      {% if request.GET.user_type == 'checker' %}
        <ul>
          <li>
            <a href="{% url 'user_register' %}?user_type=checker">Add</a>
          </li>
          <li>
            <a href="{% url 'all_users' %}?user_type=checker&delete=delete">Delete</a>
          </li>
        </ul>
      {% endif %}
    </li>
    <li>
      <a href="{% url 'all_checklist' %}?checklist=True">Checklist</a>
      {% if request.GET.checklist == 'True' %}
        <ul>
          <li>
            <a href="{% url "add_checklist" %}">Add</a>
          </li>
          <li>
            <a href="{% url "all_checklist" %}?delete=delete">Delete</a>
          </li>
        </ul>
      {% endif %}
    </li>
    <li>
      <a href="{% url 'admin_history' %}">History</a>
    </li>
  </ul>
</aside>
