<aside id="sidebar">
  <ul>
    <li>
      <a href="{% url 'all_users' %}?user_type=user">User</a>
      {% if request.GET.user_type == 'user' %}
        <ul>
          <li>
            <a href="{% url 'user_register' %}?user_type=user">Add</a>
          </li>
          <li>
            <a href="{% url 'all_users' %}?user_type=user&delete=delete">Delete</a>
          </li>
        </ul>
      {% endif %}
    </li>
    <li>
      <a href="{% url 'all_users' %}?user_type=checker">Checker</a>
      {% if request.GET.user_type == 'checker' %}
        <ul>
          <li>
            <a href="{% url 'user_register' %}?user_type=checker">Add</a>
          </li>
          <li>
            <a href="{% url 'all_users' %}?user_type=checker&delete=delete">Delete</a>
          </li>
        </ul>
      {% endif %}
    </li>
    <li>
      <a href="{% url 'all_users' %}?user_type=checklist">Checklist</a>
      {% if request.GET.user_type == 'checklist' %}
        <ul>
          <li>
            <a href="{% url 'user_register' %}?user_type=checklist">Add</a>
          </li>
        </ul>
      {% endif %}
    </li>
  </ul>
</aside>
