#sidebar {
  background-color: #390281;
  color: white;
  width: 10rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 789px) {
  #sidebar {
    display: none;
    /* Hide the sidebar */
  }
}

@media screen and (min-width: 789px) {
  .dropdown-container {
    display: none;
  }
}

#sidebar ul {
  list-style: none;
  padding: 10%;
}

#sidebar ul ul {
  padding: 1rem;
  margin: 0;
}

#sidebar ul ul li {
  margin-bottom: 0;
}


#sidebar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding-left: 10px;
}

#sidebar ul ul li a {
  text-decoration: none;
  color: rgb(80, 154, 244);
}

#sidebar ul li a:hover {
  color: #e28d8d;
}

#sidebar ul ul li a:hover {
  color: #ddaf64;
}

.dropbtn {
  background-color: #390281;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-container {
  margin-left: auto;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #390281;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Dropdown links */
.dropdown-content .sub-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .sub-menu a:hover {
  background-color: #390281;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #390281;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Sub-options */
.sub-options {
  display: none;
  position: absolute;
  background-color: #390281;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: -160px;
  /* Adjust the positioning to align with the left side */
}

/* Show sub-options on hover */
.sub-menu:hover .sub-options {
  display: block;
}

#sub-user {
  top: 0;
}

#sub-checker {
  top: 50px;
}

#sub-checklist {
  top: 100px;
}

.search-container {
  text-align: center;
}

.search-form {
  display: inline-block;
}

.search-input-container {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 300px; /* Adjust width as needed */
}

@media screen and (max-width: 789px) {
  .search-input {
    width: 200px;
    /* Change placeholder text to "Search" */
  }
  .search-input::placeholder {
    content: "Search";
  }
}

.search-button {
  padding: 10px 20px;
  background-color: #ffffff00;
  color: #390281;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: -50px; /* Adjust to overlap button with input */
}
