.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
  padding: 1rem;
}

.user a:hover,
.user a:active {
  transform: scale(1.1);
  background-color: #390281;
  color: white;
}

.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.user h3 {
  margin: 0.25rem 0;
}

.search-container {
  text-align: center;
}

.search-form {
  display: inline-block;
}

/* Add styles for the search input */
.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 300px; /* Adjust width as needed */
}

/* Add styles for the search button */
.search-button {
  padding: 10px 20px;
  background-color: #390281;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #2d0361; /* Adjust hover color as needed */
}


