.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    /* Add margin at the bottom for spacing */
}

.user img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

.user h3 {
    margin: 0.5rem 0;
    /* Increase margin for better separation */
    font-size: 1.2rem;
    /* Increase font size for better readability */
}

.user time {
    color: #666666;
    margin: 0.25rem;
    font-style: italic;
    font-size: 0.85rem;
    transition: color 0.3s ease;
    /* Add transition for smoother color change */
}

.user:hover time,
.user:active time {
    color: white;
}

.user-checkbox {
    position: absolute;
    opacity: 0;
}

.user-label {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    padding: 1rem;
    cursor: pointer;
    height: 10rem;
    width: 10rem;
    transform-origin: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: white;
    justify-content: center;
    align-items: center;

}

.user-checkbox:checked+.user-label {
    transform: scale(1.1);
    background-color: #390281;
    color: white;
}

.user-label:active {
    transform: scale(1.1);
    background-color: #390281;
    color: white;
}


.delete-button {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom */
    right: 20px; /* Adjust the distance from the right */
    z-index: 9999;
    padding: 10px 20px;
    background-color: #ff0000; /* Red color for delete button */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }
  
  .delete-button:hover {
    background-color: #cc0000; /* Darker red color on hover */
  }

  @media screen and (max-width: 600px) {
    #d1 {
      display: none;
      /* Hide the sidebar */
    }
  }
  
  @media screen and (min-width: 600px) {
    #d2 {
      display: none;
    }
  }
  