<aside class="dropdown-container">
  <div class="dropdown">
    <a href="#" class="menu-icon">&#9776;</a>
    <div class="dropdown-content">
      <div class="sub-menu">
        <a href="{% url 'draft' %}?status=pending">Draft</a>
        <div id="sub-user" class="sub-options">
          <a href="{% url 'add_procedure' %}">Add</a>
        </div>
      </div>
      <div class="sub-menu">
        <a href="{% url 'status' %}">Status</a>
      <div class="sub-menu">
        <a href="{% url 'returned' %}">Returned</a>
      </div>
      <div class="sub-menu">
        <a href="{% url 'history' %}">History</a>
      </div>
    </div>
  </div>
</aside>
