<aside class="dropdown-container">
  <div class="dropdown">
    <a href="#" class="menu-icon">&#9776;</a>
    <div class="dropdown-content">
      <div class="sub-menu">
        <a href="{% url 'all_procedures'%}">All Process</a>
      </div>
      <div class="sub-menu">
        <a href="{% url 'my_procedures' %}">My Process</a>
      </div>
      <div class="sub-menu">
        <a href="{% url 'checkers_returned' %}">Returned</a>
      </div>
      <div class="sub-menu">
        <a href="{% url 'checkers_history' %}">History</a>
      </div>
    </div>
  </div>
</aside>
