{% extends 'base.html' %}
{% load static %}

{% block title %}
  CMS-Checker
{% endblock %}

{% block style_content %}
  <link rel="stylesheet" href=" {% static 'checker/index.css' %}" />
{% endblock %}

{% block type %}
<h1><a href="{% url "checker_index" %}?user_id={{user.id}}">CMS</a></h1>
{% endblock %}

{% block body_content %}
  <section id="welcome">
    <header>
      <img src="{{user.employee.user_photo.url|cut:'/manager'}}" alt="{{ user.first_name }}"/>
      <h2>Welcome,<br> {{user.employee.first_name}} {{user.employee.last_name}}</h2>
    </header>
  </section>

  <section id="procedure_table">

    <header>
      <h2>Procedures</h2>
    </header>
    <table>
      <thead>
        <tr>
          <th>Sl No.</th>
          <th>Procedure Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Procedure_1</td>
          <td><a href="">Proceed</a></td>
        </tr>
      </tbody>
    </table>

  </section>



{% endblock %}
