{% extends 'base.html' %}
{% load static %}

{% block title %}
  CMS-Checker
{% endblock %}

{% block style_content %}
  <link rel="stylesheet" href=" {% static 'manager/index.css' %}" />
{% endblock %}

{% block type %}
  <h1><a href="{% url 'checker_index' %}">CMS</a></h1>
{% endblock %}

{% block body_content %}
  <section id="welcome">
    <header>
      {% if user.employee.user_photo %}
        <img src="{{ user.employee.user_photo.url }}" alt="{{ user.first_name }}" />
      {% else %}
        <img src="{% static 'images/checker.png' %}" alt="{{ user.first_name }}" />
      {% endif %}
      <h2>Welcome,<br /> {{ user.employee.first_name }} {{ user.employee.last_name }}</h2>
    </header>
  </section>

  <section class="all_actions">
    <ul>
      <li>
        <article class="action">
          <a href="{% url 'all_procedures'%}">
            <img src="{% static 'images/all_pro.png' %}" alt="user" />
            <div class="action_content">
              <h3>All Process</h3>
              <p>Procedures pending to review</p>
            </div>
          </a>
        </article>
      </li>
      <li>
        <article class="action">
          <a href="{% url 'my_procedures' %}">
            <img src="{% static 'images/my_pro.png' %}" alt="checker" />
            <div class="action_content">
              <h3>My Process</h3>
              <p>Procedures assigned to me</p>
            </div>
          </a>
        </article>
      </li>
      <li>
        <article class="action">
          <a href="{% url 'checkers_returned' %}">
            <img src="{% static 'images/returned.png' %}" alt="checklist" />
            <div class="action_content">
              <h3>Returned</h3>
              <p>Procedure returned by Checkers</p>
            </div>
          </a>
        </article>
      </li>
      <li>
        <article class="action">
          <a href="{% url 'checkers_history' %}">
            <img src="{% static 'images/history.png' %}" alt="checklist" />
            <div class="action_content">
              <h3>History</h3>
              <p>Processed Procedures</p>
            </div>
          </a>
        </article>
      </li>
    </ul>
  </section>
{% endblock %}
