{% load static %}
<!-- login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'authenticate/style.css' %}">
</head>
<body>
    <div id="cms">
        <img src="{% static 'images/cms.png' %}" alt="">
    </div>
    <section>
        <h1>Login</h1>
        <center><p class="error">{{ error }}</p></center>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="inputbox {% if field.errors %}errors{% endif %}">
                {{ field }}
                <label>{{ field.label }}</label>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit">Login</button>
        </form>
    </section>
</body>
</html>
