{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <script src="https://kit.fontawesome.com/b7be0387ab.js" crossorigin="anonymous"></script>
    <link rel="icon" href="..\static\icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'app.css' %}" />
    {% block style_content %}

    {% endblock %}
  </head>
  <body>
    <header id="main-navigation">
      {% block type %}

      {% endblock %}
      {% block navigation2 %}
      {% endblock %}
      <nav class="navbar">
        {% block navigation %}
        {% endblock %}
        <a id="l1" href="{% url 'logout' %}">LOGOUT</a>
      </nav>
    </header>

    {% block sidebar %}

    {% endblock %}

    {% block body_content %}

    {% endblock %}
  </body>
</html>