{% extends 'base.html' %}
{% load static %}

{% block title %}
  CMS-User
{% endblock %}

{% block style_content %}
  <link rel="stylesheet" href=" {% static 'manager/index.css' %}" />
{% endblock %}

{% block type %}
<h1><a href="{% url "user_index" %}?user_id={{user.id}}">CMS</a></h1>
{% endblock %}

{% block body_content %}
  <section id="welcome">
    <header>
      <img src="{{user.employee.user_photo.url|cut:'/manager'}}" alt="{{ user.first_name }}"/>
      <h2>Welcome,<br> {{user.employee.first_name}} {{user.employee.last_name}}</h2>
    </header>
  </section>

  <section class="all_actions">
    <ul>
      <li>
        <article class="action">
          <a href="{% url 'draft' %}?user_id={{user.id}}&status=pending">
            <img src="{% static 'images/draft.png' %}" alt="user" />
            <div class="action_content">
              <h3>Draft</h3>
              <p>Procedures pending to submit</p>
            </div>
          </a>
        </article>
      </li>
      <li>
        <article class="action">
          <a href="{% url 'status' %}?user_id={{user.id}}">
            <img src="{% static 'images/status.png' %}" alt="checker" />
            <div class="action_content">
              <h3>Status</h3>
              <p>Status of submitted procedures</p>
            </div>
          </a>
        </article>
      </li>
      <li>
        <article class="action">
          <a href="{% url 'returned' %}?user_id={{user.id}}">
            <img src="{% static 'images/returned.png' %}" alt="checklist" />
            <div class="action_content">
              <h3>Returned</h3>
              <p>Procedure returned by Checkers</p>
            </div>
          </a>
        </article>
      </li>
      <li>
        <article class="action">
          <a href="{% url 'history' %}?user_id={{user.id}}">
            <img src="{% static 'images/history.png' %}" alt="checklist" />
            <div class="action_content">
              <h3>History</h3>
              <p>Processed Procedures</p>
            </div>
          </a>
        </article>
      </li>
    </ul>
  </section>
  

{% endblock %}

