{% extends 'base.html' %}
{% load static %}

{% block title %}
  All Users
{% endblock %}

{% block type %}
  <h1><a href="{% url 'manager_index' %}">CMS</a></h1>
{% endblock %}

{% block style_content %}
  <link rel="stylesheet" href="{% static 'manager/user-details.css' %}" />
  <link rel="stylesheet" href="{% static 'manager/sidebar.css' %}" />
{% endblock %}

{% block navigation %}
  {% include 'manager/includes/sidemenu.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'manager/includes/sidebar.html' %}
{% endblock %}

{% block body_content %}
  <div class="card">
    {% if user.employee.user_photo %}
      <img src="{{ user.employee.user_photo.url }}" alt="{{ user.first_name }}" style="width:100%" />
    {% else %}
      <img src="{% static 'images/user.png' %}" alt="{{ user.first_name }}" style="width:100%" />
    {% endif %}
    <h1>{{ user.first_name|title }} {{ user.last_name|title }}</h1>
    <p class="title">{{ request.GET.user_type|title }}</p>
    <p>Age: {{ user.employee.age }}</p>
    <p>Gender: {{ user.employee.gender }}</p>
    <p>
      <a href="{% url 'edit_user_profile' %}?user_type={{ request.GET.user_type }}&user_id={{ user.id }}"><button>Edit</button></a>
    </p>
  </div>

  <a href="{% url 'delete_user' %}?user_type={{ request.GET.user_type }}&user_id={{ user.id }}">
    <input id="d1" class="delete-button" type="button" value="Delete Selected Users" />
  </a>
  <a href="{% url 'delete_user' %}?user_type={{ request.GET.user_type }}&user_id={{ user.id }}">
    <button id="d2" class="delete-button" type="submit"><i class="fa-sharp fa-solid fa-trash"></i></button>
  </a>
{% endblock %}
