{% extends 'base.html' %}
{% load static %}

{% block title %}Checklist Details{% endblock title %}

{% block style_content %}
    <link rel="stylesheet" href="{% static 'Checklist/index.css' %}" />
    <link rel="stylesheet" href="{% static 'Checklist/registration.css' %}" />
{% endblock style_content %}

{% block type %}
    <h1><a href="{% url 'manager_index' %}">CMS</a></h1>
{% endblock %}

{% block body_content %}
<section>
    <div class="main-container">
        <h2>Checklist: {{ checklist.name }}</h2>
        <p>{{ checklist.description }}</p>

        <h3>Questions:</h3>
        <ul>
            {% for question in checklist.checklistquestion_set.all %}
            <li>{{ question.question_text }}</li>
            {% empty %}
            <li>No questions found for this checklist.</li>
            {% endfor %}
        </ul>
        
        <a href="{% url 'all_checklist' %}" class="btn btn-secondary"><button type="submit">Go Back</button></a>
        <a href="{% url 'edit_checklist' %}?checklist_id={{ checklist.id }}" class="btn btn-primary"><button type="submit">Edit Checklist</button></a>
        
        <!-- Add a form to delete the checklist -->
        <form method="post" action="{% url 'delete_checklist' %}" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="checklist_ids" value="{{ checklist.id }}">
            <button type="submit" class="btn btn-danger">Delete Checklist</button>
        </form>
    </div>
</section>
{% endblock body_content %}
