{% extends 'base.html' %}
{% load static %}

{% block title %}Checklist Details{% endblock title %}

{% block style_content %}
    <link rel="stylesheet" href="{% static 'Checklist/index.css' %}" />
    <link rel="stylesheet" href="{% static 'Checklist/registration.css' %}" />
    <link rel="stylesheet" href="{% static 'Checklist/checklist-details.css' %}" />
{% endblock style_content %}

{% block type %}
    <h1><a href="{% url 'manager_index' %}">CMS</a></h1>
{% endblock %}

{% block body_content %}
<section>
    <div class="card">
        <h2>Checklist: {{ checklist.name }}</h2>
        <p>{{ checklist.description }}</p>

        <h3>Questions:</h3>
        <ul>
            {% for question in checklist.checklistquestion_set.all %}
            <li>{{ question.question_text }}</li>
            {% empty %}
            <li>No questions found for this checklist.</li>
            {% endfor %}
        </ul>
        <div class="button-container">
            <a href="{% url 'all_checklist' %}" class="btn btn-secondary">Go Back</a>
            <a href="{% url 'edit_checklist' %}?checklist_id={{ checklist.id }}" class="btn btn-primary">Edit Checklist</a>
        </div> 
    </div>
       
        <!-- Add a form to delete the checklist -->
        <form method="post" action="{% url 'delete_checklist' %}" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="checklist_ids" value="{{ checklist.id }}">
            <button type="submit" class="btn btn-danger delete-button">Delete Checklist</button>
        </form>

</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var deleteButton = document.querySelector('.delete-button');
    deleteButton.addEventListener('click', function(event) {
        var confirmation = confirm("Are you sure you want to delete this checklist?");
        if (!confirmation) {
            event.preventDefault();
        }
    });
});
</script>
{% endblock body_content %}
