{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Checklist{% endblock title %}

{% block style_content %}
    <link rel="stylesheet" href="{% static 'Checklist/index.css' %}" />
    <link rel="stylesheet" href="{% static 'Checklist/registration.css' %}" />
    <link rel="stylesheet" href="{% static 'Checklist/edit_checklist.css' %}" />
{% endblock style_content %}

{% block type %}
    <h1><a href="{% url 'manager_index' %}">CMS</a></h1>
{% endblock type %}

{% block body_content %}
<section>
    <div class="main-container">
        <h2>Edit Checklist: {{ checklist.name }}</h2>
        <form method="post" enctype="multipart/form-data" id="checklist-form">
            {% csrf_token %}
            <div class="form-control">
                {{ form.as_p }}
            </div>
            {{ formset.management_form }}
            <hr>
            {% for form in formset %}
            <div class="form-control">
                <label for="{{ form.auto_id }}">{{ form.label }}</label>
                {{ form }}
                <hr>
            </div>
            {% endfor %}
            <div class="button-container">
                <button type="submit" name="action" value="save_and_edit" class="btn btn-primary" id="save-and-edit">Save and Edit</button>
                <button type="submit" name="action" value="save_and_exit" class="btn btn-primary">Save and Exit</button>
                <a href="{% url 'checklist_detail' %}?checklist_id={{ checklist.id }}" class="btn btn-secondary"><button type="button" class="btn btn-primary">Cancel</button></a>
            </div>
        </form>
    </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var saveAndEditButton = document.getElementById('save-and-edit');
    var form = document.getElementById('checklist-form');

    saveAndEditButton.addEventListener('click', function() {
        localStorage.setItem('scrollToBottom', true);
    });

    if (localStorage.getItem('scrollToBottom')) {
        window.scrollTo(0, document.body.scrollHeight);
        localStorage.removeItem('scrollToBottom');
    }
});
</script>
{% endblock body_content %}
