{% extends 'base.html' %}
{% load static %}
<!-- registration/register.html -->

{% block title %}{% if request.GET.user_type == 'user' %}User {% else %} Checker{% endif %}  Registration{% endblock title %}

{% block style_content %}
    <link rel="stylesheet" href="{% static 'manager/all_actions.css' %}">
    <link rel="stylesheet" href="{% static 'manager/index.css' %}">
    <link rel="stylesheet" href="{% static 'manager/registration.css' %}">
{% endblock style_content %}

{% block type %}
<h1><a href="{% url "manager_index" %}">CMS</a></h1>
{% endblock %}
    

{% block body_content %}
<section class="all_actions">
    <h2>{% if request.GET.user_type == 'user' %}User {% else %} Checker{% endif %} Registration</h2>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Render form fields -->
            <input type="hidden" name="user_type" value="{{ request.GET.user_type }}">
            <div class="button-container">
                <button type="submit" value="Register">Register</button>
                {% if request.GET.user_type == 'user' %}
                <a href="{% url 'all_users' %}?user_type=user"><button type="button">Cancel</button></a>
                {% elif request.GET.user_type == 'checker' %}
                <a href="{% url 'all_users' %}?user_type=checker"><button type="button">Cancel</button></a>
                {% endif %}
            </div>
        </form>
        
    </div>
</section>

{% endblock body_content %}
    
